body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.shoesAttr {
  background-color: rgb(9, 222, 233);
  width: 150px;
  padding: 10px 10px 10px 10px;
  margin: 5px 10px;
  display: inline-block;
  border: 2px solid rgba(11, 10, 10, 0.975);
  }