body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.shoesAttr {
  background-color: rgb(83, 39, 242);
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
  display: inline-flexbox;
  border: 1px solid palevioletred;
  }
  